@charset "utf-8";

* {margin:0; padding:0;}

html {
	overflow:-moz-scrollbars-vertical; 
	overflow-x:hidden;  
	height:100%; 
	 

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
  background-image:         linear-gradient(top, #fff, #e8e4d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
  background-repeat: repeat-x;
	}
		
	body {
		min-height:100%; 
		font:normal 10px Verdana, Geneva, sans-serif; 
		overflow:-moz-scrollbars-vertical; 
		overflow-x:hidden;  
		height:100%; 

	  background-color: #fff;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
	  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
	  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
	  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
	  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
	  background-image:         linear-gradient(top, #fff, #e8e4d6);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
	  background-repeat: repeat-x;

		}
		
    h1 {
 		font:23px/1.1 'GeorgiaRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
	    text-align:left;
        }
		
 	h2 {
 		font:23px/1.1 'GeorgiaRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
	    text-align:left;
		color:#455b13;
        }	
		
		.w980 {width:980px; position:relative;  margin:0px auto; }
		.ie {height:615px;  }
		.bg {position:relative; height:60px; }

				.background {
					position:absolute;
					width:1252px;
					height:750px;
					-webkit-background-size: 1252px 750px;
					top:-620px;
					left:-150px;
					background:url(FEDtest.png) no-repeat left top;
				}


				.center

				{
						width:910px; 
						height:650px; 
						margin:0 auto; 
						padding:30px 40px 20px; 
						position:relative; 
						margin: 0 0 0 150px;
						}

				.box-central
				{
						width:890px; 
						height:554px; 
						padding:30px 40px 20px; 
						position:relative; 
						margin:45px 0 0 -30px;
				}
				.travel 
				{
						width:330px; 
						height:100px; 
						padding:0px 5px 20px; 
						position:relative; 
						margin:-14px 0 0 55px;
						float:left;
						font:12px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#000;
						text-align:justify;
				}
				.click-here 
				{
						width:275px; 
						height:110px; 
						padding:22px 36px 20px; 
						position:relative; 
						margin:-122px 0 0 577px;
						float:left;
				}

				.search
				{
						width:465px; 
						height:380px; 
						padding:30px 40px 20px; 
						position:relative; 
						margin:10px 0 0 -30px;
						border:1px solid  #bdb399;
						float:left;
				     -webkit-border-radius:5px;
					 -moz-border-radius:5px;
						  border-radius:5px;
						background-color: #fdf9e7;
						  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fdf9e7));
						  background-image: -webkit-linear-gradient(top, #ffffff, #fdf9e7);
						  background-image:    -moz-linear-gradient(top, #ffffff, #fdf9e7);
						  background-image:     -ms-linear-gradient(top, #ffffff, #fdf9e7);
						  background-image:      -o-linear-gradient(top, #ffffff, #fdf9e7);
						  background-image:         linear-gradient(top, #ffffff, #fdf9e7);
						  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fdf9e7', GradientType=0);
						  background-repeat: repeat-x;
				}
				.form
				{
						width:544px; 
						height:395px; 
						position:relative; 
						margin:-30px 0 0 -40px;
						float:left;
				}
				.top-form
				{
						width:525px; 
						height:12px; 
						position:relative; 
						padding:5px 10px 10px; 
						font:12px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#fff;
						background-color:#99a660;
						float:left;
						-webkit-border-radius:5px;
					 -moz-border-radius:5px;
						  border-radius:5px;
				}
				.text-top-form-right
				{
						width:135px; 
						height:25px; 
						position:relative; 
						font:16px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#fff;
						margin:0 0 0 0px;
						float:left;
						font-weight:bold;
				}
				.text-top-form-left
				{
						width:185px; 
						height:25px; 
						position:relative; 
						font:11px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#fff;
						margin:0 0 0 0px;
						float:right;	
				}
				.left-label
				{
						width:185px; 
						height:25px; 
						position:relative; 
						font:11px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#80818c;
						margin:-24px 50px 0 0px;
						float:right;						
				}
				.left-label2
				{
						width:185px; 
						height:25px; 
						position:relative; 
						font:11px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#80818c;
						margin:-48px 50px 0 0px;
						float:right;		
				}
				.size-input
				{
						width:155px; 
						height:22px; 
				}
				.size-2
				{
						width:185px; 
						height:22px; 		
				}
				.big-size
				{
						width:455px; 
						height:22px; 	
				}
				.census 
				{
						width:285px; 
						line-height:140%;
						height:270px; 
						padding:0px 19px 20px; 
						position:relative; 
						margin:140px 0 0 560px;
						float:rigth;
						font:'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						text-align:justify;
						font-size:12px;
				}
				
				.census-link 
				{
						color:#455b13;
						text-decoration:underline;
				}
		
		.btn-click {
	
	 width:242px; height:42px;
	 margin: -14px 0 0 6px;
	 float:left;
	 text-decoration:none;
	 font:15px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
	 color:#fff;
	 font-weight:bold;
	 border:0px;
	 
	   -webkit-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
          -moz-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
               box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;

	  padding:2px 4px;
	  -webkit-transition: background-position 0.2s linear;
		 -moz-transition: background-position 0.2s linear;
		  -ms-transition: background-position 0.2s linear;
		   -o-transition: background-position 0.2s linear;
			  transition: background-position 0.2s linear;
	
	  background-color: #d68900;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1ab40), color-stop(100%, #cd7f00));
	  background-image: -webkit-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:    -moz-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:     -ms-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:      -o-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:         linear-gradient(top, #f1ab40, #cd7f00);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1ab40', endColorstr='#cd7f00', GradientType=0);
	  background-repeat: repeat-x;
	
	  -webkit-border-radius:5px;
		 -moz-border-radius:5px;
			  border-radius:5px;
}
		
		.btn-search {
	
	 width:66px; height:30px;
	 margin: -14px 0 0 6px;
	 float:left;
	 text-decoration:none;
	 font:12px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
	 color:#fff;
	 font-weight:bold;
	 border:0px;	 
	 
	   -webkit-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
          -moz-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
               box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
	  
	  padding:2px 4px;
	  -webkit-transition: background-position 0.2s linear;
		 -moz-transition: background-position 0.2s linear;
		  -ms-transition: background-position 0.2s linear;
		   -o-transition: background-position 0.2s linear;
			  transition: background-position 0.2s linear;
	
	  background-color: #d68900;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1ab40), color-stop(100%, #cd7f00));
	  background-image: -webkit-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:    -moz-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:     -ms-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:      -o-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:         linear-gradient(top, #f1ab40, #cd7f00);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1ab40', endColorstr='#cd7f00', GradientType=0);
	  background-repeat: repeat-x;
	
	  -webkit-border-radius:5px;
		 -moz-border-radius:5px;
			  border-radius:5px;

}
		
		input {
	
	 width:242px; height:21px;
	 margin: -14px 0 0 6px;
	 float:left;
	 text-decoration:none;
	 font:15px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
	 color:#fff;
	 font-weight:bold;
	 border:1px solid #dadada;
	 
	   -webkit-box-shadow:2px 2px 2px  #b0b0b0  inset;
          -moz-box-shadow:2px 2px 2px  #b0b0b0 inset;
               box-shadow:2px 2px 2px  #b0b0b0 inset;
	  
	  padding:2px 4px;
	  -webkit-transition: background-position 0.2s linear;
		 -moz-transition: background-position 0.2s linear;
		  -ms-transition: background-position 0.2s linear;
		   -o-transition: background-position 0.2s linear;
			  transition: background-position 0.2s linear;
	
	  background-color: #fff;
}

label{
	 font-weight:bold;
	 font:15px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
	 color:#000;
}
.form-field{
	 width:490px; 
	 height:350px;
	 color:#999;
	 margin:35px 0 0 22px;
	 padding:0px 11px 0px; 
}
	