@charset "utf-8";

* {margin:0; padding:0;}

html {
	overflow:-moz-scrollbars-vertical; 
	overflow-x:hidden;  
	height:100%; 
	 

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
  background-image:         linear-gradient(top, #fff, #e8e4d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
  background-repeat: repeat-x;


	}
	
	body {
		min-height:100%; 
		font:normal 10px Verdana, Geneva, sans-serif; 
		overflow:-moz-scrollbars-vertical; 
		overflow-x:hidden;  
		height:100%; 

	  background-color: #fff;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
	  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
	  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
	  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
	  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
	  background-image:         linear-gradient(top, #fff, #e8e4d6);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
	  background-repeat: repeat-x;

		}
		
    h1 {
 		font:23px/1.1 'GeorgiaRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
	    text-align:left;
        }
		
 	h2 {
 		font:23px/1.1 'GeorgiaRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
	    text-align:left;
		color:#455b13;
        }	
		
		.w980 {width:980px; position:relative;  margin:0px auto; }
		.ie {height:615px;  }
		.bg {position:relative; height:60px; }

				.background {
					position:absolute;
					width:1252px;
					height:750px;
					-webkit-background-size: 1252px 750px;
					top:-620px;
					left:-150px;
					background:url(FEDtest.png) no-repeat left top;
				}


				.center

				{
						width:910px; 
						height:650px; 
						margin:0 auto; 
						padding:30px 40px 20px; 
						position:relative; 
						margin: 0 0 0 150px;
						border:1px solid  #00ff00;

						}

				.box-central
				{
						width:890px; 
						height:554px; 
						padding:30px 40px 20px; 
						position:relative; 
						margin:45px 0 0 -30px;
						border:1px solid  #000000;

				}
				.travel 
				{
						width:330px; 
						height:100px; 
						padding:0px 5px 20px; 
						position:relative; 
						margin:-14px 0 0 55px;
						float:left;
						font:12px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
						color:#000;
						text-align:justify;
						

				}
				.click-here 
				{
						width:275px; 
						height:110px; 
						padding:22px 36px 20px; 
						position:relative; 
						margin:-122px 0 0 577px;
						float:left;
						

				}

				.search
				{
						width:465px; 
						height:350px; 
						padding:30px 40px 20px; 
						position:relative; 
						margin:10px 0 0 -30px;
						border:1px solid  #000000;
						float:left;

				}
				.census h1
				{
						width:265px; 
						height:270px; 
						padding:30px 40px 20px; 
						position:relative; 
						margin:140px 0 0 560px;
						border:1px solid  #0000ff;
						float:rigth;
						font:30px/1.1 'GeorgiaRegular', Helvetica, Helvetica Neue, Arial, sans-serif;

				}
		
		input {
	
	 width:242px; height:42px;
	 margin: -14px 0 0 6px;
	 float:left;
	 text-decoration:none;
	 font:15px/1.1 'TahomaNormal', Helvetica, Helvetica Neue, Arial, sans-serif;
	 color:#fff;
	 font-weight:bold;
	 border:0px;
	 
	   -webkit-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
          -moz-box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
               box-shadow:1px 1px 1px 1px #a76c0d, 1px 1px 0 #a76c0d, 1px 1px 0 #a76c0d;
	  
	  padding:2px 4px;
	  -webkit-transition: background-position 0.2s linear;
		 -moz-transition: background-position 0.2s linear;
		  -ms-transition: background-position 0.2s linear;
		   -o-transition: background-position 0.2s linear;
			  transition: background-position 0.2s linear;
	
	  background-color: #5d94cc;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d94cc), color-stop(100%, #387bc0));
	  background-image: -webkit-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:    -moz-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:     -ms-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:      -o-linear-gradient(top, #f1ab40, #cd7f00);
	  background-image:         linear-gradient(top, #f1ab40, #cd7f00);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d94cc', endColorstr='#387bc0', GradientType=0);
	  background-repeat: repeat-x;
	
	  -webkit-border-radius:5px;
		 -moz-border-radius:5px;
			  border-radius:5px;

}
		
		
		