@charset "utf-8";

* {margin:0; padding:0;}

html {
	overflow:-moz-scrollbars-vertical; 
	overflow-x:hidden;  
	height:100%; 
	 

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
  background-image:         linear-gradient(top, #fff, #e8e4d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
  background-repeat: repeat-x;


	}
	
	body {
		min-height:100%; 
		font:normal 10px Verdana, Geneva, sans-serif; 
		overflow:-moz-scrollbars-vertical; 
		overflow-x:hidden;  
		height:100%; 

	  background-color: #fff;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
	  background-image: -webkit-linear-gradient(top, #fff, #e8e4d6);
	  background-image:    -moz-linear-gradient(top, #fff, #e8e4d6);
	  background-image:     -ms-linear-gradient(top, #fff, #e8e4d6);
	  background-image:      -o-linear-gradient(top, #fff, #e8e4d6);
	  background-image:         linear-gradient(top, #fff, #e8e4d6);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
	  background-repeat: repeat-x;

		}
		
		
		
		
		
		