.click-here-modal 
				{
						width:304px; 
						height:239px; 
						padding:22px 36px 20px; 
						position:relative; 
						
						float:left;
				}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;background:url(modal.png) no-repeat left top;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  
	  -webkit-border-radius:5px;
		 -moz-border-radius:5px;
			  border-radius:5px;

}

.close{display:block; text-align:right; text-decoration:none; color:#000;}